In [1]:
# 共通で利用するライブラリ
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix
from sklearn.model_selection import train_test_split
from dateutil.relativedelta import relativedelta
import glob
import os
import datetime
import pickle
from natsort import natsorted
from IPython.display import display
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings

# warnings.filterwarnings('ignore')
np.set_printoptions(suppress=True, precision=3)
pd.options.display.float_format = "{:.4f}".format
pd.set_option("display.max_columns", None)
plt.style.use("seaborn")
plt.rcParams["font.size"] = 14
plt.rcParams["font.family"] = "IPAexGothic"
%matplotlib inline
%load_ext autoreload

# 追加するライブラリ

## Ch.10 機械学習システムのダッシュボードを作成する

- 店舗分析用のダッシュボードの追加
- 機械学習モデルの評価検証用ダッシュボードの追加

データ一覧

- store_monthly_data.csv
- ml_base_data.csv
- score.csv
- importance.csv
- report_pred_YYYYMM.xlsx

### Knock91: 単一データを読み込む

In [2]:
# 単一データの読み込み

data_dir = "data"
store_monthly_dir = os.path.join(data_dir, "01_store_monthly")
ml_base_dir = os.path.join(data_dir, "02_ml_base")
output_ml_result_dir = os.path.join(data_dir, "10_output_ml_result")
output_report_dir = os.path.join(data_dir, "11_output_report")

store_monthly_file = "store_monthly_data.csv"
ml_base_file = "ml_base_data.csv"

store_monthly_data = pd.read_csv(os.path.join(store_monthly_dir, store_monthly_file))
ml_base_data = pd.read_csv(os.path.join(ml_base_dir, ml_base_file))

display(store_monthly_data.head(3))
display(ml_base_data.head(3))

,store_name,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,1147,945,202,841,306,844,303,91,122,112,101,95,107,106,100,108,109,96,34.1101,201904
1,さいたま南店,1504,1217,287,1105,399,1104,400,130,135,147,143,142,137,130,113,140,132,155,35.3377,201904
2,さいたま緑店,1028,847,181,756,272,756,272,95,91,106,95,102,82,90,93,95,95,84,34.2916,201904

,store_name,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,order_time_11,order_time_12,order_time_13,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,1.0000,0.0000,1147,945,202,841,306,844,303,91,122,112,101,95,107,106,100,108,109,96,34.1101,201904
1,さいたま南店,1.0000,1.0000,1504,1217,287,1105,399,1104,400,130,135,147,143,142,137,130,113,140,132,155,35.3377,201904
2,さいたま緑店,1.0000,1.0000,1028,847,181,756,272,756,272,95,91,106,95,102,82,90,93,95,95,84,34.2916,201904

### Knock92: 更新データを読み込んで店舗別データを作成する

In [6]:
# 精度評価結果の読み込み

ml_results_dirs = os.listdir(output_ml_result_dir)
score_all = []
for ml_results_dir in ml_results_dirs:
    score_file_path = os.path.join(output_ml_result_dir, ml_results_dir, "score.csv")
    score_monthly = pd.read_csv(score_file_path)
    score_monthly["dirs"] = ml_results_dir
    score_all.append(score_monthly)
score_all = pd.concat(score_all, ignore_index=True)
display(score_all)

,DataCategory,accuracy,recall,precision,f1,tn,fp,fn,tp,model_name,model_target,dirs
0,train,1.0000,1.0000,1.0000,1.0000,777,0,0,861,tree,y_weekday,result_202004
1,test,0.8120,0.8184,0.8399,0.8290,250,61,71,320,tree,y_weekday,result_202004
2,train,1.0000,1.0000,1.0000,1.0000,777,0,0,861,RandomForest,y_weekday,result_202004
3,test,0.7920,0.8286,0.8040,0.8161,232,79,67,324,RandomForest,y_weekday,result_202004
4,train,0.8651,0.9001,0.8516,0.8752,642,135,86,775,GradientBoosting,y_weekday,result_202004
5,test,0.8020,0.8363,0.8134,0.8247,236,75,64,327,GradientBoosting,y_weekday,result_202004
6,train,1.0000,1.0000,1.0000,1.0000,843,0,0,795,tree,y_weekend,result_202004
7,test,0.7179,0.6974,0.7224,0.7097,262,93,105,242,tree,y_weekend,result_202004
8,train,1.0000,1.0000,1.0000,1.0000,843,0,0,795,RandomForest,y_weekend,result_202004
9,test,0.8248,0.7320,0.8944,0.8051,325,30,93,254,RandomForest,y_weekend,result_202004
10,train,0.8626,0.8013,0.9048,0.8499,776,67,158,637,GradientBoosting,y_weekend,result_202004
11,test,0.8390,0.7522,0.9062,0.8220,328,27,86,261,GradientBoosting,y_weekend,result_202004
12,train,1.0000,1.0000,1.0000,1.0000,909,0,0,865,tree,y_weekday,result_202005
13,test,0.7635,0.7778,0.7620,0.7698,280,94,86,301,tree,y_weekday,result_202005
14,train,1.0000,1.0000,1.0000,1.0000,909,0,0,865,RandomForest,y_weekday,result_202005
15,test,0.7674,0.7829,0.7652,0.7739,281,93,84,303,RandomForest,y_weekday,result_202005
16,train,0.8512,0.8509,0.8450,0.8479,774,135,129,736,GradientBoosting,y_weekday,result_202005
17,test,0.7950,0.8320,0.7797,0.8050,283,91,65,322,GradientBoosting,y_weekday,result_202005
18,train,1.0000,1.0000,1.0000,1.0000,828,0,0,946,tree,y_weekend,result_202005
19,test,0.7254,0.7340,0.7321,0.7331,265,105,104,287,tree,y_weekend,result_202005
20,train,1.0000,1.0000,1.0000,1.0000,828,0,0,946,RandomForest,y_weekend,result_202005
21,test,0.8121,0.7698,0.8503,0.8081,317,53,90,301,RandomForest,y_weekend,result_202005
22,train,0.8709,0.8340,0.9164,0.8733,756,72,157,789,GradientBoosting,y_weekend,result_202005
23,test,0.8449,0.7801,0.9050,0.8379,338,32,86,305,GradientBoosting,y_weekend,result_202005
24,train,1.0000,1.0000,1.0000,1.0000,903,0,0,1144,tree,y_weekday,result_202007
25,test,0.7631,0.7912,0.7912,0.7912,276,104,104,394,tree,y_weekday,result_202007
26,train,1.0000,1.0000,1.0000,1.0000,903,0,0,1144,RandomForest,y_weekday,result_202007
27,test,0.7289,0.7671,0.7579,0.7625,258,122,116,382,RandomForest,y_weekday,result_202007
28,train,0.8285,0.8409,0.8506,0.8457,734,169,182,962,GradientBoosting,y_weekday,result_202007
29,test,0.7631,0.7871,0.7935,0.7903,278,102,106,392,GradientBoosting,y_weekday,result_202007
30,train,1.0000,1.0000,1.0000,1.0000,1038,0,0,1009,tree,y_weekend,result_202007
31,test,0.7335,0.7262,0.7193,0.7227,339,119,115,305,tree,y_weekend,result_202007
32,train,1.0000,1.0000,1.0000,1.0000,1038,0,0,1009,RandomForest,y_weekend,result_202007
33,test,0.8121,0.8024,0.8043,0.8033,376,82,83,337,RandomForest,y_weekend,result_202007
34,train,0.8534,0.8305,0.8666,0.8482,909,129,171,838,GradientBoosting,y_weekend,result_202007
35,test,0.8417,0.8214,0.8435,0.8323,394,64,75,345,GradientBoosting,y_weekend,result_202007
36,train,1.0000,1.0000,1.0000,1.0000,900,0,0,1011,tree,y_weekday,result_202006
37,test,0.7888,0.8073,0.7982,0.8027,294,89,84,352,tree,y_weekday,result_202006
38,train,1.0000,1.0000,1.0000,1.0000,900,0,0,1011,RandomForest,y_weekday,result_202006
39,test,0.7961,0.8142,0.8050,0.8096,297,86,81,355,RandomForest,y_weekday,result_202006
40,train,0.8592,0.8773,0.8595,0.8683,755,145,124,887,GradientBoosting,y_weekday,result_202006
41,test,0.8181,0.8326,0.8269,0.8297,307,76,73,363,GradientBoosting,y_weekday,result_202006
42,train,1.0000,1.0000,1.0000,1.0000,978,0,0,933,tree,y_weekend,result_202006
43,test,0.7570,0.7624,0.7494,0.7558,312,103,96,308,tree,y_weekend,result_202006
44,train,1.0000,1.0000,1.0000,1.0000,978,0,0,933,RandomForest,y_weekend,result_202006
45,test,0.8364,0.7946,0.8629,0.8273,364,51,83,321,RandomForest,y_weekend,result_202006
46,train,0.8739,0.8199,0.9129,0.8639,905,73,168,765,GradientBoosting,y_weekend,result_202006
47,test,0.8608,0.8168,0.8919,0.8527,375,40,74,330,GradientBoosting,y_weekend,result_202006
48,train,1.0000,1.0000,1.0000,1.0000,1016,0,0,1168,tree,y_weekday,result_202008
49,test,0.7821,0.7911,0.7812,0.7862,357,105,99,375,tree,y_weekday,result_202008
50,train,1.0000,1.0000,1.0000,1.0000,1016,0,0,1168,RandomForest,y_weekday,result_202008
51,test,0.7618,0.7827,0.7556,0.7689,342,120,103,371,RandomForest,y_weekday,result_202008
52,train,0.8228,0.8159,0.8471,0.8312,844,172,215,953,GradientBoosting,y_weekday,result_202008
53,test,0.7735,0.7658,0.7823,0.7740,361,101,111,363,GradientBoosting,y_weekday,result_202008
54,train,1.0000,1.0000,1.0000,1.0000,1060,0,0,1124,tree,y_weekend,result_202008
55,test,0.7831,0.8000,0.7952,0.7976,333,103,100,400,tree,y_weekend,result_202008
56,train,1.0000,1.0000,1.0000,1.0000,1060,0,0,1124,RandomForest,y_weekend,result_202008
57,test,0.8397,0.8480,0.8514,0.8497,362,74,76,424,RandomForest,y_weekend,result_202008
58,train,0.8599,0.8452,0.8780,0.8613,928,132,174,950,GradientBoosting,y_weekend,result_202008
59,test,0.8472,0.8440,0.8665,0.8551,371,65,78,422,GradientBoosting,y_weekend,result_202008

In [9]:
# 年月の抽出

score_all.loc[:, "year_month"] = score_all["dirs"].str.split("_", expand=True)[1]
display(score_all.head())

,DataCategory,accuracy,recall,precision,f1,tn,fp,fn,tp,model_name,model_target,dirs,year_month
0,train,1.0000,1.0000,1.0000,1.0000,777,0,0,861,tree,y_weekday,result_202004,202004
1,test,0.8120,0.8184,0.8399,0.8290,250,61,71,320,tree,y_weekday,result_202004,202004
2,train,1.0000,1.0000,1.0000,1.0000,777,0,0,861,RandomForest,y_weekday,result_202004,202004
3,test,0.7920,0.8286,0.8040,0.8161,232,79,67,324,RandomForest,y_weekday,result_202004,202004
4,train,0.8651,0.9001,0.8516,0.8752,642,135,86,775,GradientBoosting,y_weekday,result_202004,202004

In [7]:
score_all["dirs"].str.split("_", expand=True)

         0       1
0   result  202004
1   result  202004
2   result  202004
3   result  202004
4   result  202004
5   result  202004
6   result  202004
7   result  202004
8   result  202004
9   result  202004
10  result  202004
11  result  202004
12  result  202005
13  result  202005
14  result  202005
15  result  202005
16  result  202005
17  result  202005
18  result  202005
19  result  202005
20  result  202005
21  result  202005
22  result  202005
23  result  202005
24  result  202007
25  result  202007
26  result  202007
27  result  202007
28  result  202007
29  result  202007
30  result  202007
31  result  202007
32  result  202007
33  result  202007
34  result  202007
35  result  202007
36  result  202006
37  result  202006
38  result  202006
39  result  202006
40  result  202006
41  result  202006
42  result  202006
43  result  202006
44  result  202006
45  result  202006
46  result  202006
47  result  202006
48  result  202008
49  result  202008
50  result  202008
51  result  202008
52  result  202008
53  result  202008
54  result  202008
55  result  202008
56  result  202008
57  result  202008
58  result  202008
59  result  202008